body,
html {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

div {
  word-wrap: break-word;
}

.col {
  background-color: antiquewhite;
  padding: 0;
}

.leftRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftMenu {
  /* margin-left: 5px; */
  border-left: 10px solid;
  border-color: rgba(240, 248, 255, 0);
}

.category {
  border-top: 1px solid;
}

.opened {
  background-color: rgb(82, 82, 82);
  color: white;
}

.opened:hover {
  background-color: rgb(114, 114, 114)
}
