body,
html {
  width: 100%;
  height: 100%;
}

div {
  word-wrap: break-word;
}

.col {
  background-color: antiquewhite;
  padding: 0;

  
}

.leftRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category {
  border-top: 1px solid;
}

.opened {
  background-color: rgb(82, 82, 82);
}

.opened:hover {
  background-color: rgb(114, 114, 114)
}
